* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --violet-dark: #52057b;
    --violet-light: #7722a5;
    --blue-dark: rgb(21, 123, 225);
    --blue-light: rgb(51, 142, 233);
    --dark-light: #292b2e;
    --dark: #2C2C2C;
}

html {
    font-size: 12px;
    font-family: sans-serif;

    & a {
        color: var(--blue-light);
        text-decoration: none;
        font-weight: bold;
    }

    & h1,
    h2 {
        font-weight: 500;
    }
}

header,
footer {
    font-family: "PT Serif", serif;
    font-weight: 500;
    font-style: normal;
}

main {
    min-height: calc(100vh - 100px);
    background-color: var(--dark);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;

    >sup {
        margin: .2rem auto auto .2rem;
        text-align: left;
    }
}

/* utilities */
/* 
.show {
    display: block;
}

.d-none {
    display: none;
} */

.flex-column {
    display: flex;
    flex-direction: column;

    & img {
        flex: 100%;
    }
}